body {
  background: #fff;
  font-family: "Roboto", sans-serif;
  color: #434455;
  width: 1440px;
  height: 3300px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Tag rules */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
a {
  text-decoration: none;
}
h1 {
  font-size: 56px;
  font-style: normal;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 1.12px;
}

button {
  cursor: pointer;
}

/* Class rules */

/* Logo Web studio */
.top-line .logo-up {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.top-line .logo-up-word {
  color: #2e2f42;
}

/* Navigation */
.top-line .link {
  color: #2e2f42;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}

.top-line .link:hover {
  color: #404bbf;
}
.top-line .link:focus {
  color: #404bbf;
}
.top-line .link:active {
  color: #404bbf;
}

/* Contact */
.adress {
  font-style: normal;
}

.adress .contact {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}

address .contact:hover {
  color: #404bbf;
}

address .contact:active {
  color: #404bbf;
}
address .contact:focus {
  color: #404bbf;
}

/* Title */
.section-title {
  background-color: #2e2f42;
}
.section-title .title {
  color: #fff;
  text-align: center;
}
.section-title .button-to-serwis {
  color: #ffffff;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 500;
  background: #4d5ae5;
}
.section-title .button-to-serwis:hover {
  background: #404bbf;
}
.section-title .button-to-serwis:active {
  background: #404bbf;
}
.section-title .button-to-serwis:focus {
  background: #404bbf;
  color: #404bbf;
}
/* Features */
.features-name {
  color: #2e2f42;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.4px;
}
.features-text {
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}

/* Team */
.team {
  background-color: #f4f4fd;
}
.team .team-title {
  color: #2e2f42;
  font-size: 36px;
  font-style: normal;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
}
.team .team-list {
  background-color: #ffffff;
}
.team-list .team-name {
  color: #2e2f42;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.4px;
  text-align: center;
}
.team-list .team-profesion {
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
  text-align: center;
}

/* Portfolio */
.portfolio .portfolio-title {
  text-align: center;
  color: #2e2f42;
  font-size: 36px;
  font-style: normal;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.portfolio .portfolio-services {
  color: #2e2f42;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.4px;
}
.portfolio .portfolio-services-chapter {
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}

/* Foter */
.down-line {
  background-color: #2e2f42;
}
.down-line .logo-down {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.down-line .logo-down-word {
  color: #f4f4fd;
}
.down-line .text-paragrapf {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* modul 3 */
/* header */
.container {
  display: flex;
}
.container .top-line {
  display: flex;
}
.top-line .logo-up {
  display: flex;
  margin: 25.5px 0 25.5px 156px;
}
.top-line .top-line-link {
  display: flex;
  margin: 24px 0 24px 76px;
  list-style: none;
}
.top-line-link li:not(:first-child) {
  margin-left: 40px;
}
.container .adress {
  margin: 24px 0 24px 332px;
}

.adress ul {
  display: flex;
  list-style: none;
}
.adress-contact li:last-child {
  display: flex;
  margin-left: 40px;
}
/* section1 */
.section-title .container {
  display: flex;
  flex-direction: column;
  width: 1440px;
  height: 600px;
  flex-shrink: 0;
  align-items: center;
}

.container .title {
  width: 496px;
  margin: 188px 472px 48px 472px;
}

.container .button-to-serwis {
  display: inline-flex;
  padding: 16px 32px;
  gap: 10px;
  border-radius: 4px;
  background: var(--IRIS, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/* section2 */

.container .features {
  display: flex;
  width: 1128px;
  height: 104px;
  flex-shrink: 0;
  margin: 120px 156px;
}

.features .features-list {
  display: flex;
  width: 264px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.features li:not(:first-child) {
  padding-left: 40px;
}

/* section2 */
.team .container {
  display: flex;
  flex-direction: column;
  height: 732px;
  flex-shrink: 0;
  padding: 120px 156px;
}

.container .team-title {
  text-align: center;
  margin-bottom: 72px;
}

ul .team-list {
  display: inline-flex;
  padding-bottom: 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  width: calc((100%-72) / 4);
  border-radius: 0px 0px 4px 4px;
}

li .info-person {
  display: flex;
  width: 232px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

ul .team-list:not(:first-child) {
  margin-left: 24px;
}
.team-notitle {
  flex-wrap: nowrap;
}
